:root {
  --covfefe: #c0fef0;
  --slightly-darker-covfefe: #ace4c9;
  --intro-background: var(--covfefe);
  --blog-background: rgba(0, 0, 0, .3);
  --blog-text: #2d3743;

  --blue: #3090C0;
  --pop-color: #918475;

  --down-arrow: 157, 169, 183;
}
