@import 'colors.css';
@custom-media --three-piece-viewport (min-height: 5in);
@custom-media --extra-long-viewport (min-height: 10in);
@custom-media --two-sided-viewport (min-width: 8.5in);
@custom-media --extra-wide-viewport (min-width: 17in);

html, body {
  background: var(--blog-background);
  font-family: 'Source Sans Pro';
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.blog {
  background: var(--blog-background);
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  color: var(--blog-text);
}

.blog a, .blog a:visited {
  color: var(--light-blue);
}

a, a:visited {
  color: var(--blue);
}
