.blog .heading {
  --base-font-size: 10;
  margin: 0;
  text-align: center;
  padding: 5vh;
  font-size: calc(var(--base-font-size) * 1vw);
  color: var(--pop-color);
}

.blog .post-preview {
  width: 70vw;
  max-width: 10in;
  margin: 0 auto;
}

.blog .post-preview .title {
  --base-font-size: 6;
  font-size: calc(var(--base-font-size) * 1vw);
  line-height: 1;
  margin: 0;
  padding: 0;
}

@media (min-width: 6in) {
  .blog .post-preview .title {
    --base-font-size: 4;
  }
}

@media (min-width: 8.5in) {
  .blog .heading {
    font-size: calc(var(--base-font-size) / 100 * 8.5in);
  }
  .blog .post-preview .title {
    font-size: calc(var(--base-font-size) / 100 * 8.5in);
  }
}
