.post {
  width: 70vw;
  max-width: 10in;
  margin: 2.5em auto;
}

.post blockquote {
  border-left: .3em solid #D0C9C9;
  padding: .01em 0 .01em 1em;
  margin-left: 1.45em;
}

.post ul, .post ol {
  padding-left: 2.5em;
}
.post li {
  padding-left: .25em;
}

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
  margin: 0;
  line-height: 1.2;
}
.post h1 {
  --base-font-size: 10;
  font-size: calc(var(--base-font-size) * 1vw);
}
.post h2 {
  --base-font-size: 8;
  font-size: calc(var(--base-font-size) * 1vw);
}
.post h3 {
  --base-font-size: 6;
  font-size: calc(var(--base-font-size) * 1vw);
}
.post h4 {
  --base-font-size: 5;
  font-size: calc(var(--base-font-size) * 1vw);
}
.post h5 {
  --base-font-size: 4.5;
  font-size: calc(var(--base-font-size) * 1vw);
}
.post h6 {
  --base-font-size: 4;
  font-size: calc(var(--base-font-size) * 1vw);
}

@media (min-width: 5in) {
  .post h1 { --base-font-size: 6.5; }
  .post h2 { --base-font-size: 5; }
  .post h3 { --base-font-size: 4.5; }
  .post h4 { --base-font-size: 4; }
  .post h5 { --base-font-size: 3.5; }
  .post h6 { --base-font-size: 3; }
}

@media (min-width: 8.5in) {
  .post h1 { font-size: calc(var(--base-font-size) * 8.5in / 100); }
  .post h2 { font-size: calc(var(--base-font-size) * 8.5in / 100); }
  .post h3 { font-size: calc(var(--base-font-size) * 8.5in / 100); }
  .post h4 { font-size: calc(var(--base-font-size) * 8.5in / 100); }
  .post h5 { font-size: calc(var(--base-font-size) * 8.5in / 100); }
  .post h6 { font-size: calc(var(--base-font-size) * 8.5in / 100); }
}
