@import '../essentials.css';
@import 'blog-previews.css';
@import 'name-top.css';
@import 'nav.css';

.intro {
  background: var(--intro-background);
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}
