.name-top {
  height: 50%;
  text-align: center;
  color: var(--pop-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name-top .name {
  color: var(--blue);
  --base-font-size: 13;
  font-size: calc(var(--base-font-size) * 1vw);
  line-height: 1;
  padding: .5vw 0 1.5vw; /* This looks centered, and IDK why */
  margin: 0;
}
.name-top .extra {
  font-weight: normal;
  --base-font-size: 6;
  font-size: calc(var(--base-font-size) * 1vw);
  line-height: 1;
  padding: 0;
  margin: 0;
}

@media (--three-piece-viewport) {
  .name-top {
    height: 33%;
  }
}

@media (min-width: 5in) {
  .name-top .extra {
    --base-font-size: 4;
  }
}

@media (--two-sided-viewport) {
  .name-top .extra {
    font-size: calc(var(--base-font-size) * .5vw);
  }
  .name-top .name {
    font-size: calc(var(--base-font-size) * .5vw);
  }
}

@media (--extra-wide-viewport) {
  .name-top .extra {
    font-size: calc(var(--base-font-size) * 8.5in / 100);
  }
  .name-top .name {
    font-size: calc(var(--base-font-size) * 8.5in / 100);
  }
}
