.intro-nav {
  margin: 0 auto;
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
}
.intro-nav > div {
  align-self: center;
}
.intro-nav .icons {
  text-align: center;
}
.intro-nav .icons a {
  display: inline-block;
}
/* This prevents a margin from being applied to the first child, which is LinkedIn, which has a TM sign */
.intro-nav .icons a + a {
  margin-left: .25in;
  margin-right: 10.72px;
}
.intro-nav .icons a:last-child {
  margin-right: 0;
}
.intro-nav .icons img {
  height: 10vmin;
}
.intro-nav .links a {
  --base-font-size: 7;
  font-size: calc(var(--base-font-size) * 1vw);
  text-decoration: none;
  text-align: right;
  line-height: 1;
  padding: 0;
  margin: 0;
  display: inline-block;
}

@media (--three-piece-viewport) {
  .intro-nav {
    height: 33vh;
  }
}

.intro-nav .links a + a:before {
  content: ' \00a0 \2014 \00a0 ';
  color: gray;
}

.intro-nav .links {
  padding-top: 3vh;
}
@media (min-width: 5in) {
  .intro-nav .links a {
    --base-font-size: 5;
  }
  .intro-nav .icons img {
    height: .5in;
  }
}
@media (min-width: 6in) {
  .intro-nav .links a {
    font-size: calc(var(--base-font-size) / 100 * 6in);
  }
}
