.intro-nav {
  margin: 0 auto;
  height: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.intro-nav > div {
  align-self: center;
}
.intro-nav .icons {
  text-align: center;
}
.intro-nav .icons a {
  display: inline-block;
}
/* This prevents a margin from being applied to the first child, which is LinkedIn, which has a TM sign */
.intro-nav .icons a + a {
  margin-left: .25in;
  margin-right: 10.72px;
}
.intro-nav .icons a:last-child {
  margin-right: 0;
}
.intro-nav .icons img {
  height: 10vmin;
}

@media (--three-piece-viewport) {
  .intro-nav {
    height: 33%;
  }
}

@media (min-width: 5in) {
  .intro-nav .icons img {
    height: .5in;
  }
}

.link-to-blog {
  width: 50px;
  margin: 0 auto;
}
.down {
  cursor: pointer;
  position: relative;
  display: block;
  height: 25px;
}
.down:before,
.down:after {
  position: absolute;
  display: block;
  content: '';
  border: 25px solid transparent;
}
.down:before {
  top: 0;
  border-top-color: rgba(var(--down-arrow), .2);
  transition: 200ms ease;
}
.down:hover:before {
  border-top-color: rgba(var(--down-arrow), .8);
}
.down:after {
  top: -10px;
  border-top-color: var(--intro-background);
}
.link-to-blog span {
  display: inline-block;
  margin-bottom: 10px;
  color: rgb(var(--down-arrow));
}

@media (--two-sided-viewport) {
  .link-to-blog {
    display: none;
  }
}
