.intro {
  background-image: url('../../img/me.jpg');
  background-position: left bottom;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}

@import 'name-top.css';
@import 'intro.css';
