.intro {
  background-image: url('../../img/me.jpg');
  background-position: left bottom;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}

.name-top {
  text-align: center;
  color: var(--pop-color);
  margin: 0;
  padding: 5vh 0;
}
.name-top .name {
  font-size: 13vw;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.name-top .extra {
  font-weight: normal;
  font-size: 6vw;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.intro nav {
  margin-left: auto;
  margin-right: 5vmin;
  width: 50vmin;
  text-align: center;
}
.intro nav .icons {
  text-align: center;
}
.intro nav .icons a {
  display: inline-block;
}
/* This prevents a margin from being applied to the first child, which is LinkedIn, which has a TM sign */
.intro nav .icons a + a {
  margin-right: 1.5vmin;
}
.intro nav .icons a:last-child {
  margin-right: 0;
}
.intro nav .icons img {
  height: 10vmin;
}
.intro nav .links a {
  text-align: right;
  font-size: 10vmin;
  line-height: 1;
  padding: 0;
  margin: 0;
  display: block;
}

@media (min-width: 5in) and (min-height: 5in) {
  .intro nav {
    width: 2.5in;
  }
  .intro nav .icons img {
    height: .5in;
  }
  .intro nav .links a {
    font-size: .5in;
  }
  .intro nav .icons a + a {
    margin-left: .25in;
  }
}

@media (min-height: 4in) {
  .intro nav {
    width: auto;
    margin: 0 auto;
  }
  .intro nav .links a {
    font-size: 5vw;
    display: inline-block;
    text-decoration: none;
  }
  .intro nav .links a + a:before {
    content: ' \00a0 \2014 \00a0 ';
    color: gray;
  }
}
@media (min-height: 4in) and (min-width: 4in) {
  .intro nav .links a {
    font-size: .2in;
  }
}


@media (min-width: 5in) and (max-width: 8.4999in) {
  .name-top .extra {
    font-size: 4vw;
  }
}

@media (min-width: 8.5in) {
  .name-top .extra {
    font-size: .34in;
  }
  .name-top .name {
    font-size: 1.1in;
  }
}
