.name-top {
  text-align: center;
  color: var(--pop-color);
  margin: 0;
  padding: 5vh 0;
}
.name-top .name {
  font-size: 13vw;
  line-height: 1;
  padding: .5vw 0 1.5vw; /* This looks centered, and IDK why */
  margin: 0;
}
.name-top .extra {
  font-weight: normal;
  font-size: 6vw;
  line-height: 1;
  padding: 0;
  margin: 0;
}

@media (min-width: 5in) and (max-width: 8.4999in) {
  .name-top .extra {
    font-size: 4vw;
  }
}

@media (min-width: 8.5in) {
  .name-top .extra {
    font-size: .34in;
  }
  .name-top .name {
    font-size: 1.1in;
  }
}
